<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LAB40_S10_D01/src/predavanje_StackAndQueue/DrawWithUndo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="predavanje_StackAndQueue.DrawWithUndo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LAB40_S10_D01"/>
</launchConfiguration>
