<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LAB13_S03D04_Vjezbe/src/IgricaXiO.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="IgricaXiO"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LAB13_S03D04_Vjezbe"/>
</launchConfiguration>
