<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LAB37_S09_D03/src/vjezbe/LinkedListIntTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="vjezbe.LinkedListIntTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LAB37_S09_D03"/>
</launchConfiguration>
