<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LAB49_S12_D03/src/ba/bitcamp/exercise/Benjo/XMLpractice/PersonChilderReader.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ba.bitcamp.exercise.Benjo.XMLpractice.PersonChilderReader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LAB49_S12_D03"/>
</launchConfiguration>
