<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LAB44_S11_D01/src/ba/bitcamp/Benjo/exercise/StreamsReadersAndWriters/Streams.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ba.bitcamp.Benjo.exercise.StreamsReadersAndWriters.Streams"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LAB44_S11_D01"/>
</launchConfiguration>
